[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2-binary = "*"
celery = "*"
redis = "*"
django-storages = "*"
python-dotenv = "*"
boto3 = "*"
google-genai = "*"
pydantic = "*"

[dev-packages]

[requires]
python_version = "3.12"
