Django==5.2.5
dj-database-url==3.0.1
whitenoise==6.9.0
django-storages==1.14.6
boto3==1.40.3
python-dotenv==1.1.1
python-decouple==3.8
psycopg2-binary==2.9.10
Pillow==10.4.0
requests==2.32.4
google-generativeai==0.8.5
