[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
python-dotenv = "*"
pillow = "*"
numpy = "*"
google = "*"
django-storages = "*"
dotenv = "*"
boto3 = "*"
celery = "*"
redis = "*"
pydantic = "*"
psycopg2 = "*"
psycopg2-binary = "*"
google-genai = "*"
google-generativeai = "*"
gunicorn = "*"
whitenoise = "*"
dj-database-url = "*"
python-decouple = "*"
django-tailwind = {extras = ["reload"], version = "*"}

[dev-packages]

[requires]
python_version = "3.12"
